@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400&display=swap');


.primary {
    color: orange;
    font-weight: lighter;
}

.font-xl {
    font-size: 77px;
}
:root {
    font-size: 16px;
    /* font-family: 'Quicksand', sans-serif;
    --font-primary: 'Quicksand', sans-serif; */
    /* MillerText,input mono,serif */
    --font-primary: 'Saira', sans-serif;
    /* font-family: 'PT Mono', sans-serif; */
    /* --font-primary: 'PT Mono', sans-serif; */
    --font-secondary: 'Quicksand', sans-serif;
    --font-mono: 'Ubuntu Mono', monospace;
    --header1-font-family: 'Libre Baskerville', serif;
    --body-font-family: 'Libre Baskerville', serif;
    --text-primary: #000000;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #333333;
    --transition-speed: 500ms ease-in-out;
    --text-hover: rgba(0, 0, 0, 0.823);
    --text-blur: gray;
    --nav-color: grey;
    --button-size: calc(var(--nav-size)*0.5);
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 70px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 0.2s; 
}

p {
    font-family: var(--font-primary);
    color: #323232;
}

.main-container {
    display: grid;
    grid-template-columns: minmax(min-content, 768px);
    padding: 40px 128px;
}

.navbar {
    font-family: var(--font-primary);
    display: flex;
    flex-direction: row;
    margin-right: auto;
    justify-content: space-around;
    transition: 0.1s ease-out;
}

.navbar-links {
    font-family: var(--font-primary);
    font-size: 16px;
    display: flex;
    color: #828282;
    margin-top: auto;
    margin-bottom: 0px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-family: var(--font-primary);
    margin-top: auto;
    margin-bottom: 0px;
    color: #323232;
}

a {
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: auto;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s ease-out;
    padding-bottom: 2px;
}

.inline-link{
  color:orchid;
  margin: 0px !important;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.1s ease-out;
}

a:hover {
  border-bottom: 3px solid;
}

.footnotes {
    font-size: 14px;
    color: #888;
    width: 400px;
}
/* .footnotes-icons {
  font-size: 40px;
  color: #888;
} */
.brainbase {
  width: 100%;
  position: relative;
  float: left;
}
.braintop {
  position: absolute;
  z-index: 1;
}
.braintop.top img{
  animation: shake 5s;
  z-index: 1;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.braintop.middle img{
  animation: shaker 5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.braintop.bottom img{
  animation: shakest 5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}
.body {
  margin-top: 20px;
  width: 600px;
}
@keyframes shake {
  50% { transform: translate(4px, 1px); }
}
@keyframes shaker {
  50% { transform: translate(4px, 4px); }
}
@keyframes shakest {
  50% { transform: translate(0px, 4px); }
}
